<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Checkin Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@0.1.3/dist/chartjs-chart-matrix.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v3.min.js"></script>
    {% load static %}
    <script src="{% static 'KPI1.js' %}"></script>
    <script src="{% static 'KPI2.js' %}"></script>
    <script src="{% static 'KPI3.js' %}"></script>
    <script src="{% static 'KPI4.js' %}"></script>
    <script src="{% static 'KPI5.js' %}"></script>
    <script src="{% static 'KPI6.js' %}"></script>
    <script src="{% static 'KPI7.js' %}"></script>
    <script src="{% static 'KPI8.js' %}"></script>
    <script src="{% static 'KPI9.js' %}"></script>
    <script src="{% static 'KPI10.js' %}"></script>
    <!-- <script src="{% static 'testKPI.js' %}"></script> -->
    <style>
        .item {
            flex-grow: 1;
        }
        .item + .item {
            margin-left: 2%;
        }
    </style>
</head>

<body>
  <h1 style="text-align: center;">App Lab KPIs Dashboard</h1>
  <div class="graphs" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div id="item container1" style="width: 40%;">
        <canvas id="visitor-chart1" data-url="{% url 'visitor-chart1' %}"></canvas>
    </div>
    <div id="item container2" style="width: 40%;">
        <canvas id="visitor-chart2" data-url="{% url 'visitor-chart2' %}"></canvas>
    </div>
    <div id="item container3" style="width: 40%;">
        <canvas id="visitor-chart3" data-url="{% url 'visitor-chart3' %}"></canvas>
    </div>
    <div id="item container4" style="width: 40%;">
        <canvas id="visitor-chart4" data-url="{% url 'visitor-chart4' %}"></canvas>
    </div>
    <div id="item container5" style="width: 40%;">
        <canvas id="visitor-chart5" data-url="{% url 'visitor-chart5' %}"></canvas>
    </div>
    <div id="item container6" style="width: 40%;">
        <canvas id="visitor-chart6" data-url="{% url 'visitor-chart6' %}"></canvas>
    </div>
    <div id="item container7" style="width: 40%;">
        <canvas id="visitor-chart7" data-url="{% url 'visitor-chart7' %}"></canvas>
    </div>
    <div id="item container8" style="width: 40%;">
        <canvas id="visitor-chart8" data-url="{% url 'visitor-chart8' %}"></canvas>
    </div>
    <div id="container9" style="width: 40%; display: flex; flex-direction: column;">
        <canvas id="visitor-chart9" data-url="{% url 'visitor-chart9' %}"></canvas>
        <div style="display: flex;">
            <div id="chart9-min">0</div>
            <canvas id="chart9-box"></canvas>
            <div id="chart9-max">0</div>
        </div>
    </div>
    <div id="container10" style="width: 40%; display: flex; flex-direction: column;">
        <canvas id="visitor-chart10" data-url="{% url 'visitor-chart10' %}"></canvas>
        <div style="display: flex;">
            <div id="chart10-min">0</div>
            <canvas id="chart10-box"></canvas>
            <div id="chart10-max">0</div>
        </div>
    </div>
  </div>
  <!-- <div id="container20" style="width: 40%; padding: 0; margin: auto; display: block;">
    <canvas id="visitor-chart20" data-url="{% url 'visitor-chart20' %}"></canvas>
  </div> -->
</body>