[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.1.8"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
matplotlib = "*"
dj-database-url = "*"
python-dotenv = "*"
pandas = "*"

[requires]
python_version = "3.7"
