.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
}

h1 {
  color:#727274;
  font-family: "Arial", Gadget, sans-serif;
}

h2 {
  color:#727274;
  font-family: "Arial", Gadget, sans-serif;
  font-size: 50px;
}

label {
  font-size: 40px;
  color:#727274;
  font-family: "Arial", Gadget, sans-serif;
}

input {
  /* height:40px;
  width: 300px; */
  font-size:30pt;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
  margin: auto;
}

ul {
  font-family: "Arial", Gadget, sans-serif;
}

button {
  margin-top: 50px;
  background-color:	#99BADD;
	border-radius:18px;
	border:1px solid 	#99BADD;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
  height: 150px;
  width: 50%;
  text-decoration:none;
}

button:hover {
	background-color:#638CB7;
}
button:active {
	position:relative;
	top:1px;
}

.checkin {
  padding-left: 30px;
  text-align: center;
}

.textbox {
  padding: 15px;
}

.submit {
  margin-top: 50px;
  background-color:	#99BADD;
	border-radius:18px;
	border:1px solid 	#99BADD;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
  height: 130px;
  width: 20%;
  text-decoration:none;
}

.submit:hover {
	background-color:#638CB7;
}
.submit:active {
	position:relative;
	top:1px;
}